/* Global Styles */
html{
    font-size: 62.5%;
    
}

* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

/* == TYPOGRAPHY == */

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2.8rem;
    color: #283618;
    text-align: center;
  }
  
h2 {
    font-size: 2.4rem;
    color: #283618;
    margin: 0 25px;
    padding: 0 6px;
    text-align: center;
  }
  
h3{
    font-size: 2.2rem;
}  

h4{
    font-size: 2.0rem;
}
    
p {
    line-height: 2.4rem;
  }
  

/*----------- HEADER CODING BEGINS HERE----------- */  

  header {
    background-color: #efefef;
    margin-bottom: 40px;
  
    
  }
  
  header .wrapper-width {
      padding: 9.5px 25px 0px 20px;
      display: flex;
      justify-content: space-between;
 }
    
 .toggle i {
      color: #283618;
      font-size:2.0rem;
      margin-top: 14px;
      margin-bottom: 20px;
  
  }
  
  header img{
      width: 150px;
      height: 60px;
      margin-bottom: 15px;
  
  }
  
  .nav-anchor{
    display: none;
    
  }
  
nav {
    text-align: right;
  }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: none;
    }
    
    nav ul li {
      padding: 12px 0;
      font-size:1.5rem;
      color: #BC6C25;
      text-transform: uppercase;
      text-align: center;
    }
  
    .login{
      margin-top: 10px;
    }
  
    nav li a{
      text-decoration: none;
      background-color: #283618;
      color: #FFFFFF;
      padding: 10px 10px;
      border-radius: 5px;
      font-size: 1.2rem;
  
   }
    .show-items {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 10px;
      
    }
  

  /*----------HERO SECTION BEGINS HERE----------  */
  .hero{
    background: #F2F5F7 0% 0% no-repeat padding-box;
    margin-top: -42px;
    text-align: center;
  }    

  .hero-text h1{
    text-align: center;
    padding: 50px 15px 10px 15px;
 }

 .hero-text p{
    text-align: center;
    font-size: 1.8rem;
    margin: 0 20px 50px 20px;
  }

  .hero-text a{
    font-size: 1.2rem;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #283618;
    padding: 13.5px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .hero-image img{
    margin-top: 65px;
    width: 300px;
    height: 255px;
  }


/* ----------Services SECTION CODING------------- */

.services{
    margin-top: 55px;
    text-align: center;
    margin-bottom: 80px;
  }
  .services-text p{
    padding: 0 35px;
    margin-bottom: 12px;
 }
  
 .services-image a{
    font-size: 1.2rem;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #283618;
    padding: 13.5px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.services-image{
    margin-top: 35px; 
    margin-bottom: 50px;
} 

.text-boxes img{
    width: 260px;
    height: 210px;
}


.text-boxes h3{
    color: #283618;
    margin-bottom: 20px;
  }

.text-boxes p{
    margin: 25px 60px;
}  

.services .service-anchor{
    font-size: 1.2rem;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #283618;
    padding: 13.5px 20px;
    border-radius: 5px;
    text-decoration: none;
}


/* -------- ABOUT SECTION CODING--------- */
.about{
    text-align: center;
}

.about h2{
    margin-bottom: 30px;
}

.about-image img{
    width: 260px;
    height: 210px;
}

.about-text p{
    padding: 15px 38px;
}

/* ---------BENEFITS SECTION CODING BEGINS HERE------------ */

.benefits{
    margin-top: 40px;
    text-align: center;
}

.benefits p{
    padding: 20px 38px 0 38px;
}

.benefits-cards{
    margin: 35px 20px 50px 20px;
    
}
.benefits-boxes{
    background-color: antiquewhite;
    padding: 5px 5px;
    margin: 20px 50px 20px 50px;
}
.benefits-boxes img{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    padding: 8px 8px;
    border: 2px solid #283618;
}


/* ----------TESTOMONIAL SECTION CODING BEGINS HERE------------- */
.testomonial{
    margin: 60px 0;
    text-align: center;
  }

.testomonial h2{
    margin-bottom: 30px;
  
}

.testomonial-section{
  margin-bottom: 50px;
}

.testomonial-card img{
  margin-top: 10px;
  width: 125px;
  height: 125px;
  border-radius: 80px;
  border: 4px solid #283618;
  padding: 3px;
} 

.testomonial-card h3{
  color: #283618;
  margin-bottom: 0;
}

.testomonial-card p{
  margin-top: 10px;
  padding: 0 50px;
  width: 100%;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  
}

.testomonial a{
    font-size: 1.2rem;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #283618;
    padding: 13.5px 20px;
    border-radius: 5px;
    text-decoration: none;
}


/* ----------CALL-TO-ACTION CODING BEGINS HERE----------- */

.call-to-action{
  background: #283618;
  text-align: center;
  margin-bottom: 80px;
  padding-bottom: 60px; 
}

.call-to-action h3{
  font-size: 2.5rem;
  padding-top: 40px;
  color: #FFFFFF;
  margin: 40px 30px 0 30px;
}

.call-to-action p{
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 24px;
  margin: 35px 35px 41px 35px;
}

.call-to-action a{
  font-size: 1.6rem;
  font-weight: bold;
  color: #283618;
  text-transform: uppercase;
  background-color: #FFFFFF;
  padding: 13.5px 40px;
  border-radius: 5px;
  text-decoration: none;
}

/* -------FOOTER CODING BEGINS HERE-------- */
/* .footer-section li{
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 40px 30px 0;
  color: #505D68;
  text-transform: uppercase;
  font-weight: 700;

}

.footer-below p{
   border-top: 2px solid #A1AEB7;
   font-size: 1.4rem;
   text-align: center;
   color: #A1AEB7;
   margin: 0 20px;
   padding:15px 0;
} */


