/* Global Styles */
html{
    font-size: 62.5%;
    
}

* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

/* == TYPOGRAPHY == */

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2.8rem;
    color: #283618;
    text-align: center;
  }
  
h2 {
    font-size: 2.4rem;
    color: #283618;
    margin: 0 25px;
    padding: 0 6px;
    text-align: center;
  }
  
h3{
    font-size: 2.2rem;
}  

h4{
    font-size: 2.0rem;
}
    
p {
    line-height: 2.4rem;
  }
  

/*----------- HEADER CODING BEGINS HERE----------- */  

  header {
    background-color: #efefef;
    margin-bottom: 40px;
  
    
  }
  
  header .wrapper-width {
      padding: 9.5px 25px 0px 20px;
      display: flex;
      justify-content: space-between;
 }
    
 .toggle i {
      color: #283618;
      font-size:2.0rem;
      margin-top: 14px;
      margin-bottom: 20px;
  
  }
  
  header img{
      width: 150px;
      height: 60px;
      margin-bottom: 15px;
  
  }
  
  .nav-anchor{
    display: none;
    
  }
  
nav {
    text-align: right;
  }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: none;
    }
    
    nav ul li {
      padding: 12px 0;
      font-size:1.5rem;
      color: #BC6C25;
      text-transform: uppercase;
      text-align: center;
    }
  
    .login{
      margin-top: 10px;
    }
  
    nav li a{
      text-decoration: none;
      background-color: #283618;
      color: #FFFFFF;
      padding: 10px 10px;
      border-radius: 5px;
      font-size: 1.2rem;
  
   }
    .show-items {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 10px;
      
    }
  

  /*----------HERO SECTION BEGINS HERE----------  */
  .hero{
    background: #F2F5F7 0% 0% no-repeat padding-box;
    margin-top: -42px;
    text-align: center;
  }    

  .hero-text h1{
    text-align: center;
    padding: 50px 15px 10px 15px;
 }

 .hero-text p{
    text-align: center;
    font-size: 1.8rem;
    margin: 0 20px 50px 20px;
  }

  .hero-text a{
    font-size: 1.2rem;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #283618;
    padding: 13.5px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .hero-image img{
    margin-top: 65px;
    width: 300px;
    height: 255px;
  }


/* ----------Services SECTION CODING------------- */

.services{
    margin-top: 55px;
    text-align: center;
    margin-bottom: 80px;
  }
  .services-text p{
    padding: 0 35px;
    margin-bottom: 12px;
 }
  
 .services-image a{
    font-size: 1.2rem;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #283618;
    padding: 13.5px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.services-image{
    margin-top: 35px; 
    margin-bottom: 50px;
} 

.text-boxes img{
    width: 260px;
    height: 210px;
}


.text-boxes h3{
    color: #283618;
    margin-bottom: 20px;
  }

.text-boxes p{
    margin: 25px 60px;
}  

.services .service-anchor{
    font-size: 1.2rem;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #283618;
    padding: 13.5px 20px;
    border-radius: 5px;
    text-decoration: none;
}


/* -------- ABOUT SECTION CODING--------- */
.about{
    text-align: center;
}

.about h2{
    margin-bottom: 30px;
}

.about-image img{
    width: 260px;
    height: 210px;
}

.about-text p{
    padding: 15px 38px;
}

/* ---------TESTOMONIAL SECTION CODING BEGINS HERE------------ */

.benefits{
    margin-top: 40px;
    text-align: center;
}

.benefits p{
    padding: 20px 38px 0 38px;
}

.benefits-cards{
    margin: 35px 20px 50px 20px;
    
}
.benefits-boxes{
    background-color: antiquewhite;
    padding: 5px 5px;
    margin: 20px 50px 20px 50px;
}
.benefits-boxes img{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    padding: 8px 8px;
    border: 2px solid #283618;
}

/* .testomonial{
    margin-top: 55px;
    text-align: center;
}

.testomonial-cards{
    margin: 0 20px;
    
}

.testomonial-boxes img{
    margin-top: 40px;
}

.testomonial-boxes:nth-child(1),
.testomonial-boxes:nth-child(2) {
    border-bottom: 2px solid #F2F5F7;
}

.testomonial h2{
    font-size: 2.8rem;
    padding: 0 80px;
    line-height: 38px;
    margin-bottom: 0;
    color: #505D68;
}

.testomonial-boxes p{
    margin-top: 30px;
    font-size: 1.6rem;
    color: #A1AEB7;
    line-height: 24px;
    padding: 0 32px;
    height: 102px;
    overflow: hidden;
   margin-bottom: 0;
   padding-bottom: 0;
    
}

.testomonial-boxes h4{
    font-size: 1.6rem;
    color: #505D68;
    font-weight: 400;
    margin-bottom: 0;
}

.testomonial-boxes h5{
    margin-top: 5px;
    color: #A1AEB7;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 40px;
} */